Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [11]:
import pandas as pd

data = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(data)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
    
Then, print the DataFrame.

In [10]:
import pandas as pd

data = {'Name' : ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27], 
        'Gender' : ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans : In Pandas, a DataFrame is a two-dimensional, size-mutable tabular data structure that consists of rows and columns. It can be thought of as a collection of Pandas Series where each Series represents a column in the DataFrame.

A Pandas Series, on the other hand, is a one-dimensional labeled array that can hold data of any type (integer, float, string, etc.).

Here's an example that illustrates the difference between a Pandas DataFrame and a Pandas Series:

In [12]:
import pandas as pd

# Example DataFrame
data = {'name': ['John', 'Sarah', 'Bob', 'Mary'],
        'age': [28, 31, 24, 27],
        'country': ['USA', 'Canada', 'UK', 'Australia']}

df = pd.DataFrame(data)
print(df)

    name  age    country
0   John   28        USA
1  Sarah   31     Canada
2    Bob   24         UK
3   Mary   27  Australia

In [15]:
country_series = df['country']
print(country_series)

0          USA
1       Canada
2           UK
3    Australia
Name: country, dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

There are many functions available in Pandas that you can use to manipulate data in a DataFrame. Here are some common ones:

1. head() and tail(): These functions allow you to view the first or last n rows of a DataFrame, respectively. For example, df.head() would return the first 5 rows of the DataFrame df.

2. describe(): This function provides a summary of statistical information about the DataFrame, such as mean, standard deviation, and quartile ranges.

3. sort_values(): This function allows you to sort the rows of a DataFrame by one or more columns. For example, df.sort_values('age') would return the DataFrame sorted by the 'age' column in ascending order.

4. groupby(): This function allows you to group the rows of a DataFrame by one or more columns and perform operations on each group. For example, df.groupby('country')['age'].mean() would group the DataFrame by the 'country' column and return the mean age for each country.

5. apply():This function applies a function to each row or column of a DataFrame. For example, df['age'].apply(lambda x: x + 1) would add 1 to each value in the 'age' column.

Here's an example of how you might use one of these functions:

Suppose you have a DataFrame sales_data with columns 'item', 'price', and 'quantity'. You want to calculate the total revenue for each item by multiplying the price and quantity columns together. You can do this using the apply() function:

In [18]:
import pandas as pd

sales_data = pd.DataFrame({'item': ['apple', 'banana', 'orange'],
                           'price': [12, 5, 8],
                           'quantity': [10, 20, 15]})

sales_data['revenue'] = sales_data.apply(lambda row: row['price'] * row['quantity'], axis=1)
print(sales_data)

     item  price  quantity  revenue
0   apple     12        10      120
1  banana      5        20      100
2  orange      8        15      120

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

1. Series : Series is a one-dimensional array with homogeneous data.  All the elements of series should be of same data type

Key Features of a Series:
1.Homogeneous data
2.Size Immutable – size cannot be changed
3.Values of Data Mutable

2. DataFrame : DataFrame is a two-dimensional array with heterogeneous data, usually represented in the tabular format. The data is represented in rows and columns. Each column represents an attribute and each row represents a person.

Key Features of a DataFrame:
1.Heterogeneous data
2.Size Mutable
3.Data Mutable

3. Panel in pandas : Panel is a three-dimensional data structure with heterogeneous data.

Key Features of a Panel:
1.Heterogeneous data
2.Size Mutable
3.Data Mutable

NOTE : All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [20]:
import pandas as pd

# create the first Series
Name = pd.Series(['Prince', 'Sai', 'Shivam', 'Akash', 'Kunal'])

# create the second Series
Age = pd.Series([20, 19, 21, 23, 22])

# create the third Series
Country = pd.Series(['USA', 'USA', 'Canada', 'London', 'USA'])

# create the DataFrame
df = pd.DataFrame({'Name' : Name, 'Age' : Age, 'Country' : Country})
print(df)

     Name  Age Country
0  Prince   20     USA
1     Sai   19     USA
2  Shivam   21  Canada
3   Akash   23  London
4   Kunal   22     USA

In this example, we first created three Series objects called 'Name', 'Age' and 'Country'. We then passed a dictionary of these Series to the DataFrame constructor to create a new DataFrame called 'df'. The dictionary keys 'Name', 'Age' and 'Country' correspond to the column names in the resulting DataFrame, and the values are the Series objects themselves. The resulting DataFrame has three columns, 'Name', 'Age' and 'Country', with the corresponding values from the 'Name', 'Age' and 'Country' Series.